.projects {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left: 18px
}

.project {
    width: 150px;
    margin:10px;
}

#robotPic {
    width: 150px;
}

.description {
    font-size: 13px;
}
