
i {
    color: #ccc;
}

.navBar {
    position:fixed;
    display:flex;
    flex-direction: column;
    width:100%;
}

.topNav {
    display:inline-grid;
    grid-template-columns: repeat(11, 9%);
    background-color: rgb(85,85,85);
    height:35px;
}

.bottomNav {
    display: flex;
    justify-content: row;
    align-items: center;
    height: 90px;
    background-color: rgb(238,238,238);
    padding-left:18px;
}

#category {
    color: #ccc;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 0.6px;
    font-size: 12px;
    padding-top:12px;
}

a {
    text-decoration: none;
}

#logo {
    height:65px;
    width: auto;
}

#text {
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-left: 4px;
}

#projectButton {
    color: #333;
    top: -2px;
    margin: 0 15px;
    background-color: #fff;
    border-color: #ccc;
    background-image: none;
    border: 1px solid rgb(182, 180, 180);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: none;
}

#homeButton {
    margin-top:10px;
}

link {
    list-style-type: none;
}
