form {
    max-height: -webkit-fill-available;
}

input[type="file"] {
    display: none;
}

input {
    overflow-wrap: break-word;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.imgPreview {
    width: 150px;
    height:auto;
}

#code {
    width: 250%;
    height: 300px;
    text-align: left;
}

#code::placeholder {
    margin-top:0;
}

#name {
    float: left;
}

#addYourPiece {
    position: relative;
    margin-top: 10px;
    color: #333;
    padding-right: 100px;
    background-color: #fff;
    border-color: #ccc;
    background-image: none;
    border: 1px solid rgb(182, 180, 180);
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: none;
}

.eyebox-add-feature {
    display: flex;
    flex-direction: row;
    width:30px;
    /* margin-left:15px; */
}

.eyebox-add-feature .eye-add-feature {
    position: absolute;
    z-index: 0;
    display: block;
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 50%;
    top: 40px;
    left:265px;
    box-shadow: 0 5px 45px rgba(0,0,0,0.2),
                inset 0 0 5px #DBA74F,
                inset 0 0 5px #DBA74F;
}

.eyebox-add-feature .eye-add-feature::before {
    content:'';
    position: absolute;
    top: 45%;
    left: 3.5px;
    transform: translate(-50%, 50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
}

#righteye-add-feature {
    margin-left: 12px;
}
