.projectName, .instructions {
    margin-top:5px;
    color: #333;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 10px;
}

.code {
    position: relative;
    white-space: pre-wrap;
    float: center;
    border: 4mm solid rgba(0, 147, 162, 0.651);
    margin: auto;
    width: 50%;
    min-width: 625px;
    outline: 1mm solid rgba(1, 77, 85, 0.651);
    overflow-y: scroll;
    padding: 10px;
}

.instructionsText {
    padding: 0 90px;
    white-space: pre-wrap;
    font-size: 17px;
    line-height: 1.65;
    font-family: myriad-pro,helvetica,arial,sans-serif;
    text-align: left;
    color: #555;
}

.uploadedImg {
    height: 200px;
    width: auto;
    max-width: 280px;
    align-items: center;
}

.projectAuthor {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #999;
    text-align: center;
    margin-bottom: 5px;
}

.features {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top:10px;
}

.feature {
    width: 300px;
    padding: 6px;
    margin:5px;
    border: 1mm solid rgba(197, 210, 211, 0.651);
    border-radius: 5px;;
}

.featureTitle {
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
    text-align: center;
    color: #333;
    font-size: 20px;
    font-weight: 300;
}

text {
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
    display: inline-block;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

.description {
    font-family: "myriad-pro",Helvetica,Arial,sans-serif;
    display: inline;
    color: #333;
    font-size: 15px;
    font-weight: 300;
}

#addFunctionalityButton {
    position: absolute;
    top:10px;
    right:10px;
    color: #333;
    padding-right: 100px;
    background-color: #fff;
    border-color: #ccc;
    background-image: none;
    border: 1px solid rgb(182, 180, 180);
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: none;
}
